<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div>
        <p class="text-align:center">Software Engineer in Chicago. Former student in Texas and child in Iowa. <br> <br> Experience with full-stack software 
        development using JavaScript, React, C#, HTML/CSS, SQL, Mongo, and Git. Experience with data analytics using Python and R. <br> <br> I like sports and math, and I've done sports math with the NFL, MLB, and Rice University's #1-ranked sports analytics department.
        </p>
      </div>
    </div>
  </div>
</section>
